name: igor feshchenko devops app


on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: 3.9

    - name: My name output
      run: |
       echo "Igor Feshchenko"

  second_build:
    runs-on: ubuntu-latest
    steps:
      - name: Wrong command
        run: |
          ec "Wrong command"
  





